* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "inter", sans-serif, var(--default-font-family) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hrm-main-application-title {
  font-family: "inter", sans-serif !important;
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

.hrm-main-application-content {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.hrm-main-application-button {
  text-decoration: none;
  height: 3rem;
  border-radius: 8px;
  width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrm-main-application-button span {
  font-size: 20px;
  font-weight: 550;
  color: #646464;
  font-family: "inter", sans-serif !important;
}

.hrm-main-application-recruitment-btn:hover {
  background-color: #cecece55;
}

.hrm-main-application-employeeProfiles-btn:hover {
  background-color: #cecece55;
}

.hrm-main-application-hr {
  width: 70%;
  border: #282c34 solid gray;
}